block variables
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Gilda+Display&amp;family=Roboto:wght@400;900&amp;display=swap")
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/main.css")
        link(rel="stylesheet", href="./css/search.css")
        title #{title}
    body 
        include ../includes/header
        block content
        include ../includes/footer
        script(src="./js/jquery-3.5.1.min.js")
        script(src="./js/script.js")
