<footer class="footer">
    <nav class="footer__nav">
        <ul class="footer__menu">
            <li>
                <a class="footer-menu-item" href="index.html">Home</a>
            </li>
            <li>
                <a class="footer-menu-item" href="#">About Us</a>
            </li>
            <li>
                <a class="footer-menu-item" href="#">Services</a>
            </li>
            <li>
                <a class="footer-menu-item" href="#">Booking</a>
            </li>
            <li>
                <a class="footer-menu-item" href="#">Contact</a>
            </li>
        </ul>
    </nav>
</footer>
