<header>
    <div class="header">
        <div class="header__wrapper">

            <div class="wrapper">
                <div class="logo">
                    <a class="logo__link" href="index.html">
                        <img class="logo__image" src="./images/logo.svg" alt="logo">
                    </a> 
                </div>
                <div class="header__menu-button"></div>
            </div>
            <nav class="nav">
                <ul class="nav__items">
                    <li class="nav__item">
                        <a class="nav__link nav__link--active" href="index.html">Home</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="search.html">Rooms</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="room.html">Single Room</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="">Booking</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="">Out news</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav__link" href="">Contact</a>
                    </li>
                </ul>
        </div>
        </nav>
    </div>
    </div>
</header>